{% extends "base.html" %}

{% block title %}
    {{ title }} - {{ old_seed_tag }}
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">An Ode to {{ old_seed_tag }}</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
        {% for line in message %}
            <p class="{% if loop.revindex0 <= 1 %}indent{% endif %}">{{ line }}</p>
        {% endfor %}
    </div>
    <div class="col-md-6">
        <form method="post">
            {{ form.hidden_tag() }}

            <div class="hidden">
                {{ form.seed }}
                {{ form.seed_tag }}
            </div>

            <div class="unseed-div">
                <p><button class="btn btn-primary">Query the Bard again?</button></p>
                <p>I have another poem brewing. It's about {{ form.seed_tag.data }}.</p>
                <p>Or, you could <a href="#" id="enable-seed" onclick="getElementById('seed-div').classList.remove('hidden');">feed me some inspiration</a>.</p>
            </div>

            <div id="seed-div" class="hidden">
                Bard, <button class="btn btn-primary">pen me a sonnet</button> about {{ form.seed_phrase(size=30) }}
            </div>
        </form>
    </div>
   </div>
</div>
{% endblock %}