{% extends "base.html" %}

{% block title %}
    {{ title }} - {{ old_seed_tag }}
{% endblock %}

{% block content %}
<div style="padding: 30px;">
    <h2>{{ old_seed_tag }}</h2>
    <div style="margin-bottom:20px;">
    {% for line in message %}
        <p style="{% if loop.revindex0 <= 1 %}margin-left: 15px{% endif %}">{{ line }}</p>
    {% endfor %}
    </div>
    <div style="border: 1px solid black; padding: 10px;">
        <form method="post">
                {{ form.hidden_tag() }}
                <div class="unseed-div">
                    <button>Query the cyborg Bard</button>- he's penned an ode to {{ seed_tag }}
                </div>
                <div class="hidden">
                    {{ form.seed }}
                    {{ form.seed_tag }}
                </div>
                <p>Or, <button id="enable-seed" onclick="getElementById('seed-div').classList.remove('hidden');getElementById('unseed-div').classList.add('hidden')">feed him some inspiration</button>.</p>
                <div id="seed-div" class="hidden">
                    Bard, <button>pen me a sonnet</button> on {{ form.seed_phrase(size=30) }}
                </div>
        </form>
    </div>
</div>
{% endblock %}