{% extends "base.html" %}

{% block title %}
    {{ title }} - {{ old_seed_tag }}
{% endblock %}

{% block content %}
<div class="jumbotron top-jumbo">
  <div class="container">
    <h1 class="display-3">An Ode to {{ old_seed_tag|title  }}</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
        {% for line in message %}
            <p class="{% if loop.revindex0 <= 1 %}indent{% endif %}">{{ line }}</p>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top img-fluid" src="/static/shake-med.png" alt="Card image cap">
            <div class="card-block">
        <form method="post">
            {{ form.hidden_tag() }}

            <div class="hidden">
                {{ form.seed }}
                {{ form.seed_tag }}
                {{ form.seed_phrase }}
            </div>

            <div>
                <p>I have another poem brewing. It's about {{ form.seed_tag.data }}.</p>
                <p><button class="btn btn-primary ladda-button" data-style="zoom-in"><span class="ladda-label">Read my next poem?</span></button></p>
                <p>Or, you can <a href="" data-toggle="modal" data-target="#sonnetModal">feed me some inspiration.</a></p>
            </div>
        </form>
            </div>
        </div>
    </div>
   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sonnetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">What shall I write, O muse?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="POST">
      <div class="modal-body">
          {{ form.hidden_tag() }}
            <div class="hidden">
                {{ form.seed }}
                {{ form.seed_tag }}
            </div>

          <p>Bard, I'd like to read about:</p>
          {{ form.seed_phrase(size=30) }}
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary ladda-button" data-style="zoom-in"><span class="ladda-label">Pen me a sonnet</span></button>
      </div>
         </form>
    </div>
  </div>
</div>
{% endblock %}